---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
import TypedText from '@/components/TypedText.astro'
import Card from '@/components/Card.vue'
import Timeline from '@/components/timeline.vue'
import ExtendedCard from '@/components/ExtendedCard.vue'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose max-w-none">
    <h1 class="text-title">Aurélien Chauveau</h1>
    <h4><TypedText /></h4>
    <p>Bienvenue sur mon Portfolio.</p>
    <p>
      Ce Portfolio vous permet tout d'abord d'apprendre à me connaître et de découvrir certains projets sur lesquels
      j'ai pu travailler pendant mes études ou en stage.
    </p>
    <hr class="hr-line" />
    <h2 class="underline text-main" style="text-align: center;">À Propos de Moi</h2>
    <Card
      client:load
      title="Présentation"
      content={`
      Je suis actuellement en 1ère année de BTS SIO « Services Informatiques aux Organisations – Cybersécurité »,
      option SLAM « Solutions Logicielles et Applications Métier »,
      j’ai choisi ces études pour continuer dans la voie de la cybersécurité,
      conformément à mon projet professionnel.
      J’ai également obtenu un BacPro SN « Systèmes Numériques »,
      ce qui m’a permis de réaliser deux stages.
      Ces expériences m’ont permis de développer des compétences solides en systèmes et réseaux,
      ainsi que des bases en maintenance et réparation de matériel informatique.
      Toutes mes études dans ces domaines ont été effectuées au Lycée Polyvalent Chevrollier à Angers.
      `}
    />
    <hr class="hr-line" />
    <h2 class="underline text-main" style="text-align: center;">Formations & Éxpériences Professionnelle</h2>
    <Timeline
      client:load
      title="BTS SIO (SLAM)"
      undertitle="Services Informatiques aux Organisations Option Solutions Logicielles et Applications Métiers"
      startdate="2023"
      enddate="2025"
      address="Lycée Polyvalent Chevrollier, Angers"
      content={`
    <p>Formation en développement d'applications et cybersécurité. Spécialisation en:</p>
    <ul>
      <li>Développement Web</li>
      <li>Développement d'Applications</li>
      <li>Base de Données</li>
      <li>Système et Réseaux</li>
      <li>Gestion de Projet</li>
      <li>Cybersécurité</li>
    </ul>
  `}
    >
      <div v-if="true">
        <Timeline
          client:load
          title="Écoles Militaires de Saumur"
          undertitle="Stage de 2ème Année"
          startdate="24/02/2025"
          enddate="12/04/2025"
          address="1757 Av. du Maréchal Foch, 49400 Saumur"
          content={`
        <p>Stage de 7 semaines en entreprise, dans le cadre de ma formation en BTS SIO SLAM.</p>
        <p>Stage effectué au sein des Écoles Militaires de Saumur, dans le service informatique.</p>
        <p>Travail sur la maintenance et la réparation de matériel informatique.</p>
        <p>Travail sur la gestion de parc informatique.</p>
        <p>Travail sur la gestion de serveurs.</p>
        <p>Travail sur la gestion de la sécurité informatique.</p>
      `}
        />
        <Timeline
          client:load
          title="Groupe ZEKAT"
          undertitle="Stage de 1ère Année"
          startdate="05/2024"
          enddate="06/2024"
          address="31 Rue de Champigny, 49400 Bellevigne-les-Châteaux"
          content={`
        <p>Stage de 7 semaines en entreprise, dans le cadre de ma formation en BTS SIO SLAM.</p>
        <p>Stage effectué au sein des Écoles Militaires de Saumur, dans le service informatique.</p>
        <p>Travail sur la maintenance et la réparation de matériel informatique.</p>
        <p>Travail sur la gestion de parc informatique.</p>
        <p>Travail sur la gestion de serveurs.</p>
        <p>Travail sur la gestion de la sécurité informatique.</p>
      `}
        />
      </div>
    </Timeline>

    <Timeline
      client:load
      title="BAC PRO SN (RISC)"
      undertitle="Systèmes Numérique Option Réseaux Informatiques et Systèmes Communicants"
      startdate="2021"
      enddate="2023"
      address="Lycée Polyvalent Chevrollier, Angers"
      content={`
  <p>Première et Terminale, obtention mention - "Bien".</p>
`}
    >
      <div v-if="true">
        <Timeline
          client:load
          title="Groupe ZEKAT"
          undertitle="Stage de 2ème Année"
          startdate="01/2023"
          enddate="03/2023"
          address="31 Rue de Champigny, 49400 Bellevigne-les-Châteaux"
          content={`
      <p>Découverte fonctionnement et entretien des réseaux de l’entreprise.</p>
    `}
        />
        <Timeline
          client:load
          title="Etablissement NETX"
          undertitle="Stage de 1ère Année"
          startdate="03/2022"
          enddate="06/2022"
          address="27 rue du portail Louis · 49400 Saumur"
          content={`
      <p>Ventes entretiens et réparations de matériels Informatiques et vidéo.</p>
    `}
        />
      </div>
    </Timeline>
    <hr class="hr-line" />
    <h2 class="underline text-main" style="text-align: center;">Compétences</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <ExtendedCard
        client:load
        title="Développement Web"
        icon="i-mdi-web"
        content={`
  <ul>
    <li>
      <strong>
        Langages et Outils :
      </strong></br>
      HTML5, CSS (avec Tailwind, Bootstrap), PHP 8 (structure MVC), Javascript, CMS type WordPress.
    </li>
    <li>
      <strong>
        Développement Full-Stack :
      </strong></br>
      Réalisation de sites Web (front et back) avec le framework Laravel 11 en utilisant l'ORM Eloquent et le moteur de template Blade.
    </li>
    <li>
      <strong>
        Création d'API :
      </strong></br>
      API Rest avec et sans Laravel.
    </li>
    <li>
      <strong>
        Frameworks Front-End :
      </strong></br>
      VueJS, HTMX.
    </li>
  </ul>
  `}
      />

      <ExtendedCard
        client:load
        title="Développement d'Applications"
        icon="i-mdi-application-braces"
        content={`
  <ul>
    <li>
      <strong>
        Langages et Outils :
      </strong></br>
      C# sous Visual Studio avec ou sans l'ORM EntityFramework Core (structure MVC).
    </li>
    <li>
      <strong>
        Paradigme :
      </strong></br>
      Bases de la Programmation Orientée Objet.
    </li>
    <li>
      <strong>
        Gestion de Versions :
      </strong></br>
      GitLab, GitHub.
    </li>
    <li>
      <strong>
        Environnements de Développement :
      </strong></br>
      IDE type PHPStorm, WebStorm, Visual Studio Code.
    </li>
    <li>
      <strong>
        Développement Mobile :
      </strong></br>
      Application mobile en Dart avec Flutter.
    </li>
  </ul>
  `}
      />

      <ExtendedCard
        client:load
        title="Bases de Données"
        icon="i-mdi-database"
        content={`
  <ul>
    <li>
      <strong>
        SQL :
      </strong></br>
      MySQL / MariaDB, Méthode Merise sous Win'Design, Diagramme de classes UML, langage SQL (tables, droits, requêtes, vues, déclencheurs, procédures stockées).
    </li>
    <li>
      <strong>
        NoSQL :
      </strong></br>
      MongoDB.
    </li>
    <li>
      <strong>
        Formats de Données :
      </strong></br>
      JSON.
    </li>
  </ul>
  `}
      />

      <ExtendedCard
        client:load
        title="Systèmes et Réseaux"
        icon="i-mdi-server-network"
        content={`
  <ul>
    <li>
      <strong>
        Serveurs :
      </strong></br>
      Mise en place de serveurs distants Web et bases de données (Linux Debian et Windows) avec Apache, GLPI, MySQL, Docker.
    </li>
    <li>
      <strong>
        Sécurisation :
      </strong></br>
      Sécurisation des serveurs (échange de clés), utilisation de SSH.
    </li>
    <li>
      <strong>
        Gestion des Logs :
      </strong></br>
      Surveillance et analyse des logs.
    </li>
    <li>
      <strong>
        Administration :
      </strong></br>
      Gestion de serveur en ligne de commande, utilisation de WSL2 sous Windows.
    </li>
  </ul>
  `}
      />

      <ExtendedCard
        client:load
        title="Cybersécurité"
        icon="i-mdi-shield-lock"
        content={`
  <ul>
    <li>
      <strong>
        Formation :
      </strong></br>
      Certification Secnum Académie.
    </li>
    <li>
      <strong>
        Principes de Sécurité :
      </strong></br>
      Méthode OWASP.
    </li>
  </ul>
  `}
      />

      <ExtendedCard
        client:load
        title="Gestion de Projet"
        icon="i-mdi-clipboard-check"
        content={`
  <ul>
    <li>
      <strong>
        Outils et Méthodes :
      </strong></br>
      Planification Trello, outils de versionning Git, Diagramme de Gantt, GitLab, GitHub.
    </li>
  </ul>
  `}
      />
    </div>
    <hr class="hr-line" />
    <h2 class="underline text-main" style="text-align: center;">Contact</h2>
    <Card
      client:load
      title="Contact Information"
      content={`
        <ul>
          <li><strong>Email: </strong>aure.chv49@gmail.com</li>
          <li><strong>Télephone: </strong>06 37 54 53 02</li>
          <li><strong>Adresse: </strong>49000 Angers, France</li>
        </ul>
      `}
    />
  </article>
  <hr class="hr-line" />
  <p class="flex gap-x-4 gap-y-2 flex-wrap justify-evenly">
    {
      siteConfig.socialLinks.map((link) => (
        <a aria-label={link.text} href={link.href} target="_blank" class="prose-link">
          <i class:list={[link.icon]} />
          {link.text}
        </a>
      ))
    }
  </p>
</BaseLayout>
