---

---

<span class="typed"></span>

<script>
  import Typed from 'typed.js'

  document.addEventListener('DOMContentLoaded', () => {
    const _typed = new Typed('.typed', {
      strings: [
        'Développement Web',
        "Développement d'Applications",
        'Base de Données',
        'Système et Réseaux',
        'Gestion de Projet',
        'Cybersécurité',
      ],
      typeSpeed: 50,
      backSpeed: 30,
      backDelay: 1000,
      loop: true,
    })
  })
</script>
