---
import { fade } from 'astro:transitions'
import { ViewTransitions } from 'astro:transitions'
import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import ScrollToTop from '@/components/ScrollToTop.vue'
import '../styles/cursor-effect.css'

const { ...head } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {...head} />
    <ViewTransitions />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-main text-main min-h-screen font-['Inter'] w-full" style="cursor: none;">
    <div class="starfield"></div>
    <Header client:load />
    <main class="max-w-5xl mx-auto sm:pt-36 pt-26 pb-16 px-6">
      <slot />
      <ScrollToTop client:load />
      <Footer />
    </main>
  </body>
</html>

<script>
  import { initCursorEffect } from '../scripts/cursor-effect'
  import { initStarField } from '../scripts/starField'

  document.addEventListener('astro:page-load', () => {
    initStarField()
    initCursorEffect()
  })
</script>
